<section class="collection--header">
  {% unless has_sidebar and settings[sidebar_template] %}<div class="container">{% endunless %}
    {% include 'collection-description' %}
  {% unless has_sidebar and settings[sidebar_template] %}</div>{% endunless %}
</section>